
<table class="tx-abewohousetypes" >
	<tr>
		<td>
			<f:translate key="tx_abewohousetypes_domain_model_house.name" />
		</td>
		<td>
		{house.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abewohousetypes_domain_model_house.description" />
		</td>
		<td>
		{house.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abewohousetypes_domain_model_house.documentation" />
		</td>
		<td>
				<a href="{house.documentation.originalResource.publicUrl}">
					{house.documentation.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abewohousetypes_domain_model_house.image" />
		</td>
		<td>
				<f:image src="{house.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abewohousetypes_domain_model_house.basic_data" />
		</td>
		<td>
		{house.basicData}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abewohousetypes_domain_model_house.construction" />
		</td>
		<td>
		{house.construction}
		</td>
	</tr>
</table>